*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.navbar{
    display:flex;
    position: fixed;
    width: 100vw;
    height: 80px;
    padding: 0 30px 0 0px ;
    align-items: center;
    justify-content:space-between;
    box-shadow:2px 10px 35px rgba(0, 0, 0, 0.08);
    z-index:1000;
}

/* logo */
.navbar .logo img{
    width: 250px;
    height: 100%;    
}

/* search bar */
.navbar .form{
    margin-right: 15%;  
    display: flex;  
}
.navbar .form input{
    outline: none;
    width: 400px;
    height: 50px;
    padding: 20px;
    background-color:rgb(252, 248, 248);
    font-size: 15px;
    border:none;
    border-radius: 10px 0px 0px 10px;
}
.navbar .form button{
    width: 45px;
    height: 50px;
    color: #fff;
    background-color:#4169e1;
    border:none;
    font-size: 15px;
    cursor: pointer;
}


/* notification and user  */
.navbar .notfi-user{
    width: 200px;
    display: flex;
    align-items: center;
    opacity: .3;
    justify-content: space-between;
    margin-left: 20%;    
}
.navbar .notfi-user .pipe{
    font-size: 40px;
}

.navbar img{
    height: 50px;
    width: 50px;   
}
/* navbar end */


/* header start */
header{
    position: absolute;
    margin-top: 80px;
    display: flex;  
    height: 673px;  
}
header aside{
    width: 260px;
    background-color: #4169e1;
    padding: 20px;
    color: #fff;   
}
header aside hr{
    margin:20px 0 30px 0;
    opacity: .4;
}
header aside div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header aside div div{
    padding-top: 20px;
    padding-left: 15px;    
}
header aside div div a{
    text-decoration: none;
    color: #fff;
    margin: 0 0 20px 0;
    opacity: .7;    
}
/* aside end */



/* section start */

section{
    padding:30px;
   
}
section form{
    position: relative;
    top: 150px;
    left: 350px;
    text-align: center;
}
section form label{
    font-size: 22px;
}
section form input{  
    margin-top: 15px;  
    outline: none;
    width: 320px;
    height: 50px;
    padding: 20px;
    background-color:rgb(252, 248, 248);
    font-size: 15px;
    border:1px solid gray;
    /* border-radius: 5px;
     */
    border-radius: 5px 0px 0px 5px;

}
section form button{
    border-radius: 0px 5px 5px 0px;

    padding:0 20px;
    cursor: pointer;
    height: 50px;
    color: #fff;
    background-color:#4169e1;
    border:none;    
    font-size: 20px;
}





